body
{
  margin: /*10px*/0;
  text-align: center;
  background: black;
  user-select: none;
}
#gamearea
{
  width: 100%;
  display: inline-grid;
  grid-template-rows: [header] 30px [mainarea] auto;
  grid-template-columns: [board] auto [info] 25%; 
}
#option-bar
{
  grid-column: board / span 2;
  grid-row-start: header;
}
#board
{
  grid-column-start: board;
  grid-row-start: mainarea;
  aspect-ratio: 1/1;
  
  display: inline-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
#game-info
{
  grid-column-start: info;
  grid-row-start: mainarea;
}
.square
{
  margin: 0px;
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.square>img
{
  width: 80%;
  height: 80%;
}

.possible_move:empty::after, .respawn_point::after
{
  content: "";
  display: block;
  border-radius: 100%;
  width: 50%;
  height: 50%;
  position: absolute;
}
.possible_move:not(:empty)::after, .respawn_point:not(:empty):not(.selected)::after
{
  content:"";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 100%;
}

.promotion_selector
{
  width: 80%;
  height: 80%;
  background: white;
  position: absolute;
  z-index: 1;
}
.promotion_selector>div
{
  background: white;
  width: 300%;
  height: 200%;
  position: absolute;
  z-index: 1;
  
  left: -100%; /* JS switches this to 0% for promotion at the left-most column, and -200% for right-most */
  top: 100%; /* JS switches this to -200% for promotion at the bottom of the screen */
}
.promotion_selector>div>img
{
  width: 30%;
}

.black_square
{
  background-color: var(--black-square-color);
}
.white_square
{
  background-color: var(--white-square-color);
}
.black_square.selected
{
  box-shadow: inset 0 0 20px var(--selected-black-color);
}
.white_square.selected
{
  box-shadow: inset 0 0 20px var(--selected-white-color);
}
.square.prev_move
{
  background: var(--prev-move-color);
}
.possible_move:not(.respawn_point):empty::after
{
  background: var(--possible-move-color);
}
.possible_move:not(.respawn_point):not(:empty)::after
{
  background: radial-gradient(transparent 50%, var(--possible-move-color) 50%);
}
.respawn_point::after
{
  background: var(--respawn-point-color);
}
.respawn_point:not(:empty):not(.selected)::after
{
  background: radial-gradient(transparent 50%, var(--respawn-point-color) 50%);
}
